/* ===== CASCADE OVERRIDES for style inheritance  ===== */
/* This section may be integrated with base CSS in the future */
/* Kills underlined links in nav and news objects */

.header-container a, .grid-snippet a {
  text-decoration: none;
}

/* ===== INTERACTION ===== */

/* Full Hover State for News Items */

.news.item a {
  cursor: default;
}

.news.item a figure, .news.item a h3 {
  cursor: pointer;
}

.news.item a:hover h3 {
  text-decoration: underline;
}

.news.item figure img {
    transform: scale(1);
    transition: all .3s ease-in;
}
  
 .news.item a:hover figure img {
    transform: scale(1.05);
    transition: all .3s linear;
}

.news.item figure {
    width: 100%;
    overflow: hidden;
}

/* Gold link hover state for news items */

.news.item a:hover h3 {
    text-decoration: none;
}

.news.item h3, .cards .news.item h3 {
    background: linear-gradient(#fb0, #fb0);
    background-size: 0 3px;
    background-repeat: no-repeat;
    background-position-y: 95%;
    background-position-x: 100%;
    transition: background-size .4s ease-in-out;
    display: inline;
}

.news.item:hover h3 {
    background-size: 100% 3px;
    background-position-x: 0;
    text-decoration: none;
}

/* these classes required to overcome lack of padding due to h3 change to display:inline */

.news.item .news-item-head {
    margin-top: 20px;
}

.grid-snippet.image-headline-only.cards .news.item .news-item-head {
    margin-top: 0px; 
    margin-bottom: 20px;
}

.lead .news.item .copy p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ===== TIGERTOOTH DECO PATTERNS ===== */

/* Lead Article Deco Wrapper */

.tigertooth-enabled .lead .item.news .copy:before {
    content: url(https://www.towson.edu/_resources/images/newsroom-deco/tt-accent-1.svg);
    width: 100px;
    position: absolute;
    top: -33px;
    left: -60px;
}

.tigertooth-enabled .lead .item.news .copy:after {
    content: url(https://www.towson.edu/_resources/images/newsroom-deco/tt-accent-2.svg);
    width: 80px;
    position: absolute;
    top: -24px;
    right: -57px;
}

/* Background Deco Pattern - Left */

.tigertooth-enabled.background-left .grid-snippet:first-of-type:before {
    content: url(https://www.towson.edu/_resources/images/newsroom-deco/tt-pattern-1.svg);
    position: absolute;
    top: -100px;
    left: -450px;
    width: 350px;
    z-index: -1000;    
}

/* Background Deco Pattern - Right */

.tigertooth-enabled.background-right .grid-snippet:first-of-type:after {
    content: url(https://www.towson.edu/_resources/images/newsroom-deco/tt-pattern-2.svg);
    position: absolute;
    top: 100px;
    right: -600px;
    width: 500px;
    z-index: -1000;
}

/* ===== PULL QUOTES ===== */
/* Pull quote designs to override base styles. Some of these declarations should be merged with base styles.*/

blockquote.pull-quote {    /* this declaration should eventually be merged with base styles */
  position: relative;
}

blockquote.pull-quote p {     /* this declaration should eventually be merged with base styles */
  color: var(--graphite);
}

blockquote.pull-quote.quote-marks {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pull-quote p.attrib span:before {
    content: '\25A0';
    color: var(--gold-solid);
    font-size: 1.5rem;  
    position: relative;  
    top: 2px;
    padding-right: 5px;
}

blockquote.pull-quote p:not(.attrib) {
    border-left: 2px solid var(--gold-solid);
    padding-left: 20px;
    font-family: PoynterOSDisp, 'Kandal';
    text-transform: none;
    font-weight: 400;
  }

blockquote.pull-quote.quote p.attrib {
    text-align: right;
    padding-right: 20px;
  }

blockquote.pull-quote.quote-marks:before {
    content: "\201C";
    position: absolute;
    top: 70px;
    left: -12px;
    font-size: 16rem;
    font-weight: 900;
    line-height: 0;
    color: var(--light-gray-40);
    z-index: -1;
  }

blockquote.pull-quote.quote-marks p:not(.attrib):after {
    content: "\201D";
    position: relative;
    bottom: -1px;
    font-family: 'Proxima-Nova';
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 0;
    z-index: -1;
}

/* === REPEATING LIST PROFILES - Instagram Icon */

.repeating-list.profiles span.icon-link {
    color: #FB0;
    font-size: 6rem;
    text-decoration: none;
}

/* ===== CONDITIONAL STYLES -- These may need to be merged with others later. ===== */

/* Allows grid snippet to render at its intended size when placed in a color block container.  */

.full-bleed-section .content-constrain:has(.grid-snippet) {
    max-width: inherit;
}

.full-bleed-section .content-constrain figure {
    height: unset
}

/* Normalizes the top alignment of main body and sidebar when one or both sections lead with an element with a margin-top value other than 0 */

.body-container.two-col .main-content .body-section > *:first-of-type,
.body-container.two-col .secondary-content :first-child:not(.full-bleed-section *) {
	margin-top:0;
}

/* === CARD LAYOUT HOVER STATES === */
/* Overrides hover states for news items and adds specificity for cards. */

.cards .news.item * {
    transform: none;
    transition: none;
}
  
.cards .news.item figure:hover img, .cards .news.item :hover img {
    transform: none;
    transition: none;
}

.cards .news.item  {
    transform: scale(1);
    transition: all .4s ease-out;
}
  
.cards .news.item:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 10px #dadada;
    transition: all .1s ease-in;
}

.cards .news.item a {
    display: inline-block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* ==== CALLOUTS ==== */

.callout.left {
  position: relative;
  background: white;
  grid-template-columns: 2fr 3fr;
  border-top: 5px solid #000;
}

.callout-content .heading-wrapper {
  background: #000;
  padding: 5px 15px;
  margin-left: -90px;
  margin-bottom: 20px;
  display: inline-block;
}

.callout-content .heading-wrapper > * {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.callout-content h2 {
  display: inline;
  color: #FFF;
  font-family: 'Proxima-Nova';
  font-size: 1.5rem;
  font-weight: 800;
}

.callout-content .callout-content-body {
  font-family: 'Kandal';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 30px;
}

.callout-content .callout-content-body:last-child {
  margin-bottom: 0px;
  }

.callout.left:before {
  content: url(https:/www.towson.edu/_resources/images/newsroom-deco/tt-accent-1.svg);
  width: 130px;
  position: absolute;
  top: -37px;
  left: -70px;
}

.callout.left:after {
  content: url(https://www.towson.edu/_resources/images/newsroom-deco/tt-accent-2.svg);
  width: 64px;
  position: absolute;
  bottom: -123px;
  right: -52px;
  z-index: -10;
}

.callout p.callout-content-label {
  font-size: 1.0625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
  color: var(--accent-torquoise);
  display: inline-block;
}

.callout p.callout-content-label:after{
  content:'|';
  padding: 0 10px;
}

@media only screen and (max-width: 960px) {
  .callout-content .heading-wrapper {
    margin-left: 0;
  }

  .callout.left:before {
    width: 90px;
    top: -25px;
    left: -50px;
  }

  .callout.left:after {
    bottom: -100px;
    right: -40px;
  }	
}

@media only screen and (max-width: 720px) {
  .callout.left {
    grid-template-columns: 1fr;
    max-width: 90%;
    margin: auto;
  }
}

/* === LINKS LIST === */

ul.links-list {
    margin: 0;
  }

.links-list li {
    font-family: 'Kandal';
    font-size: 1.25rem;
    display: block;
    margin-bottom: 20px;	
  }

.links-list li a:hover:after {
  color: black;
  padding-left: 15px;
  transition: padding-left 0.2s ease-in-out 0s, color 0.3s ease-in-out 0.1s;
}

ul.links-list li a {
    text-decoration: none;
}

.links-list li a:after {
    position: relative;
    content: '\f061';
    color: #FB0;
    font-weight: 400;
    padding-left: 10px;
    top: 1px;
    font-style: normal;
    font-size: 1.375rem;
    font-family: "Font Awesome 6 Pro";
    transition: padding-left 0.1s ease-in-out 0s, color 0.2s ease-in-out 0s;
}

/* Main Content Area */

.main-content .links-list-container {
   border-top: 1px solid #ccc;
   border-bottom:1px solid #ccc
}

.main-content ul.links-list li {
   border: none;
}

.main-content ul.links-list:has(li:nth-of-type(6)) {
    column-count: 2;
}

@media screen and (max-width: 500px) {
  .main-content ul.links-list:has(li:nth-of-type(6)) {
    column-count: 1;
 }
}

/* Sidebar Area */

.secondary-content ul.links-list {
    border: 1px solid var(--light-gray-80);
    border-top: 6px solid var(--light-gray-80);
    background: var(--lightest-gray);
    height: max-content;
    padding: 20px;  
}

.secondary-content .links-list li {
   border-bottom: 1px solid var(--light-gray-80);
   padding: 20px 0;
   margin-bottom: 0;
}

.secondary-content .links-list li:first-of-type {
	padding-top: 0px
}

.secondary-content .links-list li:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}
/* === IMAGE CALLOUT === */

.full-bleed-section figure {
    height: unset;
    position: relative;
    z-index: 1;
  }

.image-callout {
  grid-template-columns: 1fr;
  grid-row-gap: 0;
  display: block;
}

.image-callout .tag-head-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-callout .text-block h2 {
  font-family: PoynterOSDisp;
  font-size: 3.5rem;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  line-height: 1;
  display: flex;
  align-self: flex-end;	
}

.image-callout .text-block h2:before {
    content: '';
    width: calc(100% + 6px);
    height: 22px;
    background-color: #FB0;
    position: absolute;
    left: -3px;
    bottom: 0px;
    z-index: -1;
    display: inline-flex;
}

.image-callout p.tag-primary {
    background-color: var(--graphite);
    padding: 2px 10px;
    color: var(--gold-solid);
    width: fit-content;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
}

.image-callout .item.text-block p:not(.tag-primary) {
  flex-wrap: wrap;
  background:white;
  margin: 0;
  border-left: 1px dotted var(--mid-gray);
  padding: 0 10px;
  position: relative;
  z-index: 100;
  padding-bottom: 10px;
  font-size: 1.25rem;
  bottom: 10px;
  display: block;
  height: fit-content;
  position: relative;
  align-self: end;
}

.image-callout .item.text-block {
  display: grid;
  grid-template-columns: auto minmax(auto, 66%);
  grid-column-gap: 40px;
  margin-left: 10px;
}

.image-callout figure {
    margin-top: -20px;
    z-index: 0;
    position: relative;
}

.image-callout .item.text-block .tag-primary, .image-callout .item.text-block h2 {
    grid-column-start: 1;
}

@media only screen and (max-width: 500px) {
  .image-callout .item.text-block {
    grid-template-columns: 1fr;
    margin: 0;
  }
	
  .grid-snippet.image-callout h2 {
     font-size: 2.25rem;
  }
	
  .image-callout figure {
    margin: -20px -20px 0;
  }    
	
  .image-callout .item.text-block p:not(.tag-primary) {
    font-size: .875rem;
    line-height: 1.125rem;
    display: block;
    padding: 10px;
    margin: 0 5px;  
  }
	
  .image-callout h2:before {
    height: 18px;
  }
}

/* === PUBLICATION SOURCE FLAG === */

.news-item-pub-flag {
    display: flex;
    justify-content: start;
  }

p.pub-flag {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: baseline;
  margin-top: 0;  
  border-top: 1px solid var(--gold-solid);
  padding: 0 2px;
}

p.pub-flag span:first-of-type {
    font-size: .75rem;
    text-transform: uppercase;
  }

 p.pub-flag span:last-of-type {
    text-transform: none;
    font-weight: 700;
    font-size: .95rem;
 }

p.pub-flag.tu-magazine img {
    height: 11px;
    width: auto;
    position: relative;
    padding: 0 5px;
  }

.lead .news-item-pub-flag .pub-flag span:first-of-type {
    font-size: .85rem;
}

.lead .news-item-pub-flag .pub-flag.tu-magazine span:last-of-type {
    font-size: 1.125rem;
    font-weight: 700;
}

.lead .news-item-pub-flag .pub-flag.tu-magazine img {
    height: 13px;
}

/* === ICON LIST === */

.icon-list-item {
  display: grid;
  grid-column-gap: 15px;
}

.icon i {
  color: var(--gold-solid);
  margin-top: 20px;
}

.color-block.gold .icon i {
  color: var(--graphite);
}

.gridlines .icon-list-item:not(:last-of-type) .content {
  border-bottom: 2px dotted;
  margin-right: 10px;
}

/* Main Content Area */

.main-content .icon-list-grid {
    margin: 0 20px;
}

.main-content .icon-list-item {
    grid-template-columns: 80px auto;
}

.main-content .icon-list-grid .icon i {
    font-size: 3.5rem;
}

/* Sidebar Area */

.secondary-content .icon-list-item {
  grid-template-columns: 20px auto;
}

.secondary-content .icon i {
  font-size: 1.25rem;
}

/* These add a zig-zag pattern to the container. This rule is specific to this particular usage and should be abstracted for a utility class later. */

.secondary-content .full-bleed-section.color-block:has(.icon-list-grid) {
  mask: conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg) 0% / 100% 16.00px;
}

@media screen and (max-width: 720px) {
.secondary-content .full-bleed-section.color-block:has(.icon-list-grid) {
    mask: conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) 50% / 16.00px 100%;
  }
}


/* === INFOGRAPHIC  === */

.infographic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.infographic-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;	
    align-items: center;
    text-align: center;
}

.infographic-item:nth-child(n+4) {
    border-top: 1px solid var(--graphite);
    padding-top: 10px;
}

.color-block.dark .infographic-item:nth-child(n+4) {
    border-top: 1px solid var(--gold-solid);
    padding-top: 10px;
}

.infographic-item p:first-of-type {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--graphite);
    margin-bottom: 0;
}

.color-block.dark .infographic-item p:first-of-type {
    color: var(--gold-solid);
}

.infographic-item p:nth-of-type(2) {
    font-weight: 400;
}

@media screen and (max-width: 720px) {
  .infographic {
    grid-template-columns: 1fr 1fr;
    }

  .infographic-item:nth-child(n+3) {
    border-top: 1px solid var(--graphite);
    padding-top: 10px;
    }

  .color-block.dark .infographic-item:nth-child(n+3) {
    border-top-color: var(--gold-solid);
    }	
}

@media screen and (max-width: 500px) {
  .infographic {
    grid-template-columns: 1fr;
}

.infographic-item:nth-child(n+2) {
    border-top: none;
    padding-top: 10px;
    }  

.infographic-item:nth-child(n+2):before {
    content:'';
    width: 40px;
    border-top: 1px solid var(--graphite);
    padding-top: 10px;
    }

.color-block.dark .infographic-item:nth-child(n+2):before {
    border-top-color: var(--gold-solid);
    }  		
} 

/* Horizontal Line with Icon */

.icon-hr-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: var(--graphite);
}

.icon-hr-container.gold {
    color: var(--gold-solid);
}

.icon-hr-container.torquoise {
    color: var(--accent-torquoise);
}

.icon-hr-container.red {
    color: var(--accent-red);
}

.icon-hr-container .line {
    flex-grow: 1;
    height: 0;
    border-top: 2px dotted;
}

.icon-hr-container i {
    margin: 0 20px;
    font-size: 1.75rem;
}

.icon-hr-container.icon-lg i {
     font-size: 3rem;
}


/* === STAGING TYPOGRAPHY OVERRIDES === */

@media screen and (max-width: 720px) {

.lead .item.news p, .split .item.news p {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }

.lead .item.news h3, .split .item.news h3 {
    font-size: 1.75rem;
  }

.split .news.item p.tag-primary, .lead .news.item p.tag-primary {
    font-size: .9375rem;
  }    
}

@media screen and (max-width: 500px) {
.lead .item.news p, .split .item.news p {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }

.lead .item.news h3, .split .item.news h3 {
    font-size: 1.5rem;
  }

.item.news h3 {
   font-size: 1.25rem;
   }

.news.item .news-item-head {
    margin-top: 15px;
   } 

.item.news p {
   font-size: .9375rem;
    line-height: 1.375rem;
    margin-top: 15px;
    margin-bottom: 15px;
   }    

.item.news p.tag-primary {
    font-size: .875rem;
    line-height: 1rem;
   }    
}

/* === Q AND A STYLES === */

.q-and-a {
  position: relative;
  margin-left: 36px;
}

.q-and-a h3, .q-and-a p {
  position: relative;
}

.q-and-a h3:before, .q-and-a p:before {
    font-size: 1.75rem;
    color: var(--light-gray);
    position: absolute;
    left: -36px;
    font-weight: 700;
}

.q-and-a h3:before{
    content: 'Q:';
    top: -3px;
}

.q-and-a h3 + p:before {
    content: 'A:';
    top: -1px;
}

.color-block.gold .q-and-a h3:before, .color-block.gold .q-and-a p:before{
     color: var(--graphite);
}

/* === NUMBERED LIST STYLES ===== */

.numbered-list {
    list-style-type: none;
    counter-reset: css-counter 0;
    margin-left: 60px;
  }

.numbered-list h3 {
    font-size: 1.375rem;
    counter-increment: css-counter 1;
}

.numbered-list h3:before {
    content: counter(css-counter);
    position: absolute;
    margin-left: -60px;
    font-family: 'poynterosdisp';
    font-weight: 700;
    font-size: 1.625rem;
    color: var(--graphite);
    background-color: transparent;
    padding: 0;
    padding-left: 1px;
    border-radius: 50%;
    border: 3px solid var(--gold-solid);
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 40px;
}

/* === STYLE GUIDE LAYOUT CLASSES === */

.sg-section {
  display: grid;
  grid-template-columns: 50px auto;
  margin-top: 20px;
}

.sg-content h2 {
  color: var(--graphite);
  margin-top: 0;
}

.sg-content h2:after {
  content: '';
  width: calc(100% + 50px);
  margin-left: -50px;
  border-top: 2px solid var(--gold-solid);
  position: relative;
  height: 10px;
  display: block;
  bottom: -10px;
}

.sg-icon {
  font-size: 2.25rem;
  color: var(--gold-solid);
  top: -2px;
  left: -3px;
  position: relative;
} 
