/* ===== CASCADE OVERRIDES for style inheritance  ===== */
/* This section may be integrated with base CSS in the future */
/* Kills underlined links in nav and news objects */

.header-container a, .grid-snippet a {
  text-decoration: none;
}

/* ===== INTERACTION ===== */

/* These changes will not work until the XSL changes are in place to wrap all media objects in an <a> element */

/* Full Hover State for News Items */

.news.item a {
  cursor: default;
}

.news.item a figure, .news.item a h3 {
  cursor: pointer;
}

.news.item a:hover h3 {
  text-decoration: underline;
}

.news.item figure img {
    transform: scale(1);
    transition: all .3s ease-in;
}
  
 .news.item a:hover figure img {
    transform: scale(1.05);
    transition: all .3s linear;
}

.news.item figure {
    width: 100%;
    overflow: hidden;
}

/* Gold link hover state for news items */

.news.item a:hover h3 {
    text-decoration: none;
}

.news.item h3, .cards .news.item h3 {
    background: linear-gradient(#fb0, #fb0);
    background-size: 0 3px;
    background-repeat: no-repeat;
    background-position-y: 95%;
    background-position-x: 100%;
    transition: background-size .4s ease-in-out;
    display: inline;
}

.news.item:hover h3 {
    background-size: 100% 3px;
    background-position-x: 0;
    text-decoration: none;
}

/* these two classes required to overcome lack of padding due to h3 change to display:inline */

.news.item .news-item-head {
    margin-top: 20px;
}

.lead .news.item .copy p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ===== TIGERTOOTH DECO PATTERNS ===== */

/* Lead Article Deco Wrapper */

.tigertooth-enabled .lead .item.news .copy:before {
    content: url(https://www.towson.edu/_dev/_news-mag-redesign/_images/_deco/tt-1.svg);
    width: 130px;
    position: absolute;
    top:-33px;
    left: -59px;
}

.tigertooth-enabled .lead .item.news .copy:after {
    content: url(https://www.towson.edu/_dev/_news-mag-redesign/_images/_deco/tt-2.svg);
    width: 110px;
    position: absolute;
    top: -66px;
    right: -80px;
}

.tigertooth-enabled .lead .item.news .copy {
    padding: 20px 40px 10px 90px !important;
}

/* Background Deco Pattern - Left */

.tigertooth-enabled.background-left .grid-snippet:first-of-type:before {
    content: url(https://www.towson.edu/_dev/_news-mag-redesign/_images/_deco/tt-pattern-1.svg);
    position: absolute;
    top: -100px;
    left: -450px;
    width: 350px;
    z-index: -1000;    
}

/* Background Deco Pattern - Right */

.tigertooth-enabled.background-right .grid-snippet:first-of-type:after {
    content: url(https://www.towson.edu/_dev/_news-mag-redesign/_images/_deco/tt-pattern-2.svg);
    position: absolute;
    top: 100px;
    right: -600px;
    width: 500px;
    z-index: -1000;
}

/* ===== PULL QUOTES ===== */
/* Pull quote designs to override base styles. Some of these declarations should be merged with base styles.*/

blockquote.pull-quote {    /* this declaration should eventually be merged with base styles */
  position: relative;
}

blockquote.pull-quote p {     /* this declaration should eventually be merged with base styles */
  color: var(--graphite);
}

blockquote.pull-quote.quote-marks {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pull-quote p.attrib span:before {
    content: '\25A0';
    color: var(--gold-solid);
    font-size: 1.5rem;  
    position: relative;  
    top: 2px;
    padding-right: 5px;
}

blockquote.pull-quote p:not(.attrib) {
    border-left: 2px solid var(--gold-solid);
    padding-left: 20px;
    font-family: PoynterOSDisp, 'Kandal';
    text-transform: none;
    font-weight: 400;
  }

blockquote.pull-quote.quote p.attrib {
    text-align: right;
    padding-right: 20px;
  }

blockquote.pull-quote.quote-marks:before {
    content: "\201C";
    position: absolute;
    top: 70px;
    left: -12px;
    font-size: 16rem;
    font-weight: 900;
    line-height: 0;
    color: var(--light-gray-40);
    z-index: -1;
  }

blockquote.pull-quote.quote-marks p:not(.attrib):after {
    content: "\201D";
    position: relative;
    bottom: -1px;
    font-family: 'Proxima-Nova';
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 0;
    z-index: -1;
}

/* These selectors should be removed from newsroom.css */

blockquote.pull-quote {
    border: none;
  }

blockquote.pull-quote.quote p.attrib:before {
    content: none;
}


/* === REPEATING LIST PROFILES - Instagram Icon */

.repeating-list.profiles span.icon-link {
    color: #FB0;
    font-size: 6rem;
    text-decoration: none;
}

/* ===== CONDITIONAL STYLES -- These may need to be merged with others later. ===== */

/* Allows grid snippet to render at its intended size when placed in a color block container.  */

.full-bleed-section .content-constrain:has(.grid-snippet) {
    max-width: inherit;
}

.full-bleed-section .content-constrain figure {
    height: unset
}

/* === CARD LAYOUT HOVER STATES === */
/* Overrides hover states for news items and adds specificity for cards. */

.cards .news.item * {
    transform: none;
    transition: none;
}
  
.cards .news.item figure:hover img, .cards .news.item :hover img {
    transform: none;
    transition: none;
}

.cards .news.item  {
    transform: scale(1);
    transition: all .4s ease-out;
}
  
.cards .news.item:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 10px #dadada;
    transition: all .1s ease-in;
}

/* ==== CALLOUTS ==== */

.callout.left {
  position: relative;
  background: white;
  grid-template-columns: 2fr 3fr;
  border-top: 5px solid #000;
}

.callout-content .heading-wrapper {
  background: #000;
  padding: 5px 15px;
  margin-left: -90px;
  margin-bottom: 20px;
  display: inline-block;
}

.callout-content .heading-wrapper > * {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.callout-content h2 {
  display: inline;
  color: #FFF;
  font-family: 'Proxima-Nova';
  font-size: 1.5rem;
  font-weight: 800;
}

.callout-content .callout-content-body {
  font-family: 'Kandal';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}

.callout.left:before {
  content: url(https://www.towson.edu/_dev/_news-mag-redesign/_images/_deco/tt-1.svg);
  width: 130px;
  position: absolute;
  top: -54px;
  left: -130px;
  z-index: -10;  
}

.callout.left:after {
  content: url(https://www.towson.edu/_dev/_news-mag-redesign/_images/_deco/tt-2.svg);
  width: 90px;
  position: absolute;
  bottom: -170px;
  right: -80px;
  z-index: -10;
}

.callout a.content-button {
  border: 2px solid var(--dark-gray);
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--dark-gray);
  background: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .025rem;
}

.callout p.callout-content-label {
  font-size: 1.0625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
  color: var(--accent-torquoise);
  display: inline-block;
}

.callout p.callout-content-label:after{
  content:'|';
  padding: 0 10px;
}

@media only screen and (max-width: 960px) {
  .callout-content .heading-wrapper {
    margin-left: 0;
  }
}

@media only screen and (max-width: 720px) {
  .callout.left {
    grid-template-columns: 1fr;
    max-width: 90%;
    margin: auto;
  }
}

/* === LINKS LIST === */

ul.links-list {
    margin: 0;
    border: 1px solid #ccc;
    border-top: 6px solid #ccc;
    background: #f7f7f7;
    padding: 20px;  
    height: max-content;
  }

.links-list li {
    font-family: 'Kandal';
    font-style: italic;
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display: block;
  }

.links-list li a:after {
    position: relative;
    content: '\f061';
    color: #FB0;
    font-weight: 400;
    padding-left: 10px;
    top: 1px;
    font-style: normal;
    font-size: 1.375rem;
    font-family: "Font Awesome 6 Pro";
    transition: padding-left 0.1s ease-in-out 0s, color 0.2s ease-in-out 0s;
}

.links-list li:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.links-list li a:hover:after {
  color: black;
  padding-left: 15px;
  transition: padding-left 0.2s ease-in-out 0s, color 0.3s ease-in-out 0.1s;
}

/* Image Callout */

.full-bleed-section figure {
    height: unset;
    position: relative;
    z-index: 1;
  }

.image-callout {
  grid-template-columns: 1fr;
  grid-row-gap: 0;
  display: block;
}

.grid-snippet.image-callout h2 {
  font-family: PoynterOSDisp;
  font-size: 3.5rem;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  width: fit-content;
  line-height: 1;
  display: flex;
  align-self: end;
}

.image-callout h2:before {
    content: '';
    width: calc(100% + 6px);
    height: 22px;
    background-color: #FB0;
    position: absolute;
    left: -3px;
    bottom: 0px;
    z-index: -1;
    display: inline-flex;
}

.image-callout p.tag-primary {
    background-color: var(--graphite);
    padding: 5px 10px;
    color: var(--gold-solid);
    width: fit-content;
    font-weight: 700;
    margin-bottom: 10px;
}

.image-callout .item.text-block p:not(.tag-primary) {
  flex-wrap: wrap;
  background:white;
  margin: 0;
  border-left: 1px dotted var(--mid-gray);
  padding: 0 10px;
  position: relative;
  z-index: 100;
  padding-bottom: 10px;
  display: flex;
  align-content: end;
  font-size: 1.25rem;
  bottom: 10px;
}

.image-callout .item.text-block p.supporting-copy span {
    font-size: 1.375rem;
    vertical-align: bottom;
    bottom: 0;
    /* overflow: visible; */
    margin-top: 0;
}

.image-callout .item.text-block {
  display: grid;
  grid-template-columns: auto minmax(auto, 66%);
  grid-column-gap: 40px;
  margin-left: 10px;
}

.image-callout figure {
    margin-top: -20px;
    z-index: 0;
  position: relative;
}

.image-callout .item.text-block .tag-primary, .image-callout .item.text-block h2 {
    grid-column-start: 1;
}

@media (max-width: 500px) {
  .grid-snippet.image-callout h2 {
    font-size: 2.25rem;
  }
}

/* Publication Source Flag */

.news-item-pub-flag {
    display: flex;
    justify-content: start;
  }

p.pub-flag {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: baseline;
  margin-top: 0;  
  border-top: 1px solid var(--gold-solid);
  padding: 0 2px;
}

p.pub-flag span:first-of-type {
    font-size: .75rem;
    text-transform: uppercase;
  }

 p.pub-flag span:last-of-type {
    text-transform: none;
    font-weight: 700;
    font-size: .95rem;
 }

p.pub-flag.tu-magazine img {
    height: 11px;
    width: auto;
    position: relative;
    padding: 0 5px;
  }

.lead .news-item-pub-flag .pub-flag span:first-of-type {
    font-size: .85rem;
}

.lead .news-item-pub-flag .pub-flag.tu-magazine span:last-of-type {
    font-size: 1.125rem;
    font-weight: 700;
}

.lead .news-item-pub-flag .pub-flag.tu-magazine img {
    height: 13px;
}
