/* General settings for print */
@media print {

  /* Show everything for debugging */
  * {
    display: block !important;
    visibility: visible !important;
  }

  /* Remove unnecessary items: navigation, search, and mobile-specific elements */
  .navigation, .utility-nav, .mobile-menu-icon-container, .search-section, 
  .footer, .slide-outer, .menu-trigger, .mobile-links {
    display: none !important;
    visibility: hidden !important;
  }

  /* Remove interactive elements that are not useful in print */
  button, input, textarea, select {
    display: none !important;
  }
  
  /* Ensure logo, headings, text, images, and pull quotes are visible */
  .masthead-logo-container svg, h1, h2, h3, h4, h5, h6, p, span, a, li, 
  blockquote.pull-quote, img, figure img, ul, ol {
    display: block !important;
    visibility: visible !important;
    font-size: inherit !important;
    font-weight: inherit !important;
  }
}
