
body, html {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: left;
    position: relative;
    z-index: 2;
}

.menu-trigger {
    cursor: pointer;
    display: inline-block;
}



/* Other styles remain the same */
.slide-content {
  display: block; /* Changed from none to block */
  background-color: #f0f0f0;
  padding: 10px 20px;
  position: absolute; /* Changed from relative to absolute */
  top: -50px; /* Set to the negative height of the slide-content */
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}
  